<h1>Infractions</h1>
{% block content %}
     <table class="table">
   <thead class="thead-inverse">
     <tr>
       <th>#</th>
       <th>Street</th>
       <th>Speed Limit</th>
       <th>Infractions Speed</th>
     </tr>
   </thead>

   {% for item in infractions_list %}
   <tbody>
     <tr>
       <th scope='row'>1</th>
       <td>{{item.street}}</a></td>
       <td>{{item.speed_limit}}</td>
       <td>{{item.infractions_speed}}</td>
     </tr>
   </tbody>
   {% endfor %}
 </table>
 {% endblock %}


 <h1>Infractions</h1>
 <!--{% for item in infractions_list %}-->
 <tbody>
   <tr>
     <td></td></br>
   </tr>
 </tbody>
 <!--{% endfor %}-->
